

<ion-content [fullscreen]="true">
  <ion-grid fixed class="ion-padding">
    <ion-list-header mode="ios">
      <ion-label (click)="changeSecure()" style="font-size: 32px"
        >Login @if (isSecure()) {
        <ion-icon color="success" name="lock-closed-outline"></ion-icon>
        }@else {
        <ion-icon color="danger" name="lock-open-outline"></ion-icon>

        }
      </ion-label>
    </ion-list-header>

    @if (isSecure()) {

    <small class="ion-padding" style="min-height: 100px; display: block"
      >This form is not vulnerable to SQL injection attacks. All user inputs are
      properly sanitized using prepared statements, parameterized queries, or
      ORM frameworks, ensuring that only safe and expected data is processed by
      the database.</small
    >

    <form [formGroup]="form">
      <ion-item>
        <ion-input
          errorText="Invalid email"
          labelPlacement="floating"
          label="Email"
          type="text"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          errorText="Invalid password"
          labelPlacement="floating"
          label="Password"
          type="password"
          formControlName="password"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </form>

    }@else {

    <small class="ion-padding" style="min-height: 100px; display: block"
      >This form is vulnerable to SQL injection attacks. It does not properly
      sanitize user inputs, allowing malicious users to inject SQL commands that
      can compromise the database. It is recommended to fix this vulnerability
      by using prepared statements, parameterized queries, or ORM frameworks
      that handle input sanitization automatically.</small
    >

    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Email"
        type="text"
        [(ngModel)]="email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Password"
        type="password"
        [(ngModel)]="password"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    }

    <h2 style="color: crimson; font-size: 20px">{{ error() }}</h2>

    <ion-button
      class="ion-padding-top ion-padding-bottom"
      expand="block"
      (click)="login()"
      >Login</ion-button
    >
    @if (showDatabase()) {
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px dotted black;
        position: relative;
        padding: 30px 10px 10px;
      "
    >
      <p
        style="
          position: absolute;
          top: -2px;
          right: 0;
          background-color: #333;
          color: whitesmoke;
          margin: 0;
        "
      >
        Backend Representation
      </p>

      <div
        style="border: 1px dotted black; position: relative; padding: 15px 10px"
      >
      <p
      style="
        position: absolute;
        top: 0;
        right: 0;
        background-color: #333;
        color: whitesmoke;
        margin: 0;
      "
    >
      Query
    </p>
        <p class="sql">
          <code
            >SELECT * FROM users WHERE email = <span>'{{ email }}'</span> AND
            password = <span>'{{password}}'</span></code
          >
        </p>
      </div>
      <table style="width: 90%; height: 90%; margin-top: 10px;">
        <tr>
          <th colspan="4">Users</th>
        </tr>

        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Password</th>
          <th>User</th>
        </tr>

        @for (item of users(); track $index) {
        <tr [class.same]="item.email === email">
          <td>{{ item.id }}</td>
          <td [class.match]="item.email === email">{{ item.email }}</td>
          <td [class.match]="item.password === password">
            {{ item.password }}
          </td>
          <td>{{ item.name }}</td>
        </tr>
        }
      </table>
      <figure>Table <i>Users</i> in BD</figure>
    </div>
    }
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showDatabase.set(!showDatabase())">
      <ion-icon name="server"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="showList()">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
